<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100051341679063"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/__rajverma26__/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/raj-verma-5ab377249/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/rajvermaaa"><i class="fa-brands fa-github"></i></a>
        </div>

        <div class="f-info-brand"> &copy; Wanderlust Private Limited </div>

        <div class="f-info-links">
            <a href="privacy">Terms and Condition</a>
        </div>


    </div>
</footer>